.pokepage__wrapper {
    padding-top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pokepage__name {
    font-size: 3em;
}

.pokepage__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokepage__middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    flex-wrap: wrap;
    gap: 3em;
}



.pokemon__stats__chart {
    max-width: 20em;
}


.stats {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: 5px;
    border-radius: .3em .4em .4em .3em;
}

.pokepage__type__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    flex-wrap: wrap;
}

.pokepage__sprite__image {
    width: 300px;
    height: 300px;
}