.searchbar-wrapper {
    padding-top: 7em;
}

.form-entries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.label {
    font-size: 1.8em;
    font-weight: bold;
    background-color: #2f3640;
    border-radius: 10px;
    color: rgb(251, 251, 251);
    padding: .2em;
}



@media screen and (max-width: 890px) {
    .label {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    .searchbar-wrapper {
        padding-bottom: 8em;
    }
}