:root {
    --navbar-heading-padding: 2.5em;
    --navbar-heading-margin: 5vw;
    --navbar-component-font-color: rgb(251, 251, 251);
}

/*.cart__window__heading {
    padding-top: .8em;
    font-size: 2em;
    padding-left: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1em;
}

.cart__window__wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5.43em;
    right: 12em;
    overflow-y: auto;
    height: 20em;
    width: 20em;
    background-color: rgb(247, 245, 242);
    border: 2px solid black
}

.displayed__cart__pokemon {}*/

/*#202f9e   #cfe4f5*/
.navbar-wrapper {
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--navbar-heading-padding);
    padding-bottom: var(--navbar-heading-padding);
    background-color: #2f3640;
    width: 100%;
    height: 3.5em;
}

.nav__link__icon {
    cursor: default
}

.nav__left {
    margin-left: var(--navbar-heading-margin);
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.4em;
}

.nav__link,
.nav__link__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5em;
}

.nav__link:hover {
    color: rgb(251, 251, 251);
    box-shadow: 4px 4px 8px #80808072,
        -4px -4px 8px #a8a7a66b;
    background-color: #ee1515;
    border-radius: 6px;
}

.shopping__bag:hover,
.favorites:hover {
    color: rgb(251, 251, 251);
    box-shadow: 4px 4px 8px #80808072,
        -4px -4px 8px #a8a7a66b;
    background-color: #ee1515;
    border-radius: 6px;
    cursor: pointer;
}

.shopping__bag,
.favorites {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: var(--navbar-component-font-color);
    font-size: 2em;
    padding: .2em;
    transition: 0.4s ease;
}

.nav__link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: var(--navbar-component-font-color);
    font-size: 1.4em;
    padding: 0.5em;
    transition: 0.4s ease;
}

.nav__logo {
    font-size: 3.3em;
    height: 1em;
    position: relative;
    bottom: 1.2em;
    list-style: none;
    font-family: "Pokemon Solid";
}

.logo {
    text-decoration: none;
    -webkit-text-fill-color: #FFDE00;
    -webkit-text-stroke: 1.2px #202f9e;
    font-weight: 1000;
}

.nav__right {
    margin-right: var(--navbar-heading-margin);
}

.shopping__bag,
.favorites {
    width: 1.5em;
    height: 1.5em;
}

.nav__link__icon {
    text-decoration: none;
}

.shopping__number__items {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: rgb(156, 15, 15);
    border-radius: 50%;
    padding: 5px 8px;
    position: relative;
    text-align: center;
    left: -16px;
    top: -13px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.hamburger {
    display: none;
    width: 52px;
    cursor: pointer;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

.bar {
    display: block;
    width: 1.5em;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(251, 251, 251);
}

.active__hamburger {
    display: none;
}

/*.cart__window__heading:after {
    content: "";
    position: absolute;
    width: 25%;
    top: 2em;
    left: 1em;
    height: 2px;
    background-color: black;
}

.cart__hidden {
    display: none;
}*/

@media screen and (max-width: 1000px) {
    .nav__left {
        margin-left: 1vw;
    }

    .nav__right {
        margin-right: 1vw;
    }

    .cart__window__wrapper {
        right: 2em;
    }
}

@media screen and (max-width: 890px) {
    .hamburger {
        display: block;
        margin-left: 7vw;
    }

    .shopping__bag__container {
        margin-right: 7vw;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hidden__hamburger {
        display: none;
    }

    .active__hamburger.active {
        display: unset;
    }

    .nav__links {
        width: fit-content
    }

    .nav__links__left {
        position: fixed;
        left: -110%;
        top: 4.9em;
        gap: 0;
        flex-direction: column;
        background-color: #2f3640;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .hamburger__item {
        margin: .5em 0;
    }

    .nav__links__left.active {
        left: 0;
        z-index: 9999;
        position: block;
    }

    .cart__window__wrapper {
        right: 1em;
    }
}

@media screen and (max-width: 500px) {
    .nav__logo {
        font-size: 2.5em;

    }
}

@media screen and (max-width: 400px) {

    .cart__window__wrapper {
        width: 15em;
    }

    .nav__logo {
        font-size: 2em;
        margin-right: .3em;
    }

    .bar {
        width: 1em;
        height: 2px;
    }

    .nav__link__icon {
        font-size: 1em;
    }
}