.shop__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 10em;
    background-color: rgb(203, 230, 255);
}